@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(200%);
  }
}

.animate-loading-bar {
  animation: loading-bar 1.2s ease-in-out infinite;
}
@keyframes fadeScale {
  0%, 100% { opacity: 1; transform: scale(1); }
  50%      { opacity: 0.75; transform: scale(0.94); }
}